* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


body {
    background-image: url("City.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
}


.header {
    font-size: 100px;
    text-align: center;
    margin-top: 0%; 
    color: lightblue;
}


input[type="text"] {
    font-size: 40px;
}


ul {
    font-size: 40px;
    margin: auto;
    padding: 0;
    width: 500px;
}


ul li {
   cursor: pointer; 
   position: relative;
   background-color: cover;
   text-align: center; 
   list-style-type: none;
   font-weight: bold;
   color: lightblue;
}


ul li:hover {
    background-color: grey;
 }
 


.addBtn {
    cursor: pointer; 
    font-size: 40px;
    padding: 5px;
    width: 25%;
    color: lightblue;
}


.addBtn:hover {
    background-color: grey;
}
